.entire--container{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
   .search--container{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #7200CC;
    border-radius: 10px;
    padding: 2px;
    width: 50%;

    &:focus-within{
        border-color: #AB66E1;
    }
    .search--bar{
        width: 95%;
        border: none;
        outline: none;
        background: transparent;  
    }
   }
}

@media (max-width: 920px) {
    .entire--container{
       .search--container{
        width: 90%;
       }
    }
}
@media (max-width: 380px) {
    .entire--container{
       .search--container{
        .search--bar{
            font-size: 14px;  
        }
       }
    }
    
}