.sidebar--container {
  display: flex;
}
.sidebar--container .sidebar {
  background-color: #7200CC;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.2s;
  position: absolute;
  border-radius: 0px 10px 0px 0px;
}
.sidebar--container .sidebar .top--section {
  display: flex;
  gap: 70px;
  padding: 20px 15px;
}
.sidebar--container .sidebar .top--section .logo {
  display: flex;
  align-items: center;
  color: #E9ECEF;
}
.sidebar--container .sidebar .top--section .logo h4 {
  margin: 0;
}
.sidebar--container .sidebar .top--section .bars:hover {
  cursor: pointer;
}
.sidebar--container .sidebar .user--icon {
  text-align: center;
  margin-top: 20px;
}
.sidebar--container .sidebar .user--icon .icon {
  border: 2px solid white;
  border-radius: 50%;
}
.sidebar--container .sidebar .user--icon h5 {
  padding: 10px;
  font-size: 15px;
  opacity: 0.8;
}
.sidebar--container .sidebar .bottom--section {
  display: flex;
  flex-direction: column;
  gap: 170px;
  width: 100%;
  margin-top: 30px;
}
.sidebar--container .sidebar .bottom--section div {
  display: grid;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.sidebar--container .sidebar .bottom--section div .link {
  width: 97%;
  display: flex;
  text-decoration: none;
  padding: 10px 15px;
  color: white;
}
.sidebar--container .sidebar .bottom--section div .link:hover {
  background-color: #EFEFEF;
  color: #7200CC;
  border-radius: 0px 15px 0px 0px;
  transition: all 0.5s;
}
.sidebar--container .sidebar .bottom--section div .link .icon {
  flex: 30%;
  place-items: center;
}
.sidebar--container .sidebar .bottom--section div .link .text--link {
  flex: 70%;
}
.sidebar--container .sidebar .bottom--section div .active {
  background-color: white;
  color: #7200CC;
  font-weight: 500;
  border-radius: 0px 15px 0px 0px;
  transition: all 0.5s;
}
.sidebar--container .sidebar .bottom--section .logout--btn {
  width: 80%;
  margin: 0 auto;
  padding: 3px;
  border: 0;
  border-radius: 5px;
  color: #7200CC;
  font-weight: 600;
  background-color: white;
}
.sidebar--container .sidebar .bottom--section .logout--btn:hover {
  background-color: #AB66E1;
  color: white;
  transition: all 0.5s;
}
.sidebar--container .sidebar .bottom--section .logout--icon {
  position: absolute;
  bottom: 70px;
  left: 35%;
}
.sidebar--container .sidebar .bottom--section .logout--icon:hover {
  cursor: pointer;
  color: #c698e9;
  transition: all 0.5s;
}

@media (min-width: 900px) and (max-width: 920px) {
  .sidebar--container .sidebar {
    gap: 30px;
  }
  .sidebar--container .sidebar .top--section {
    gap: 155px;
  }
  .sidebar--container .sidebar .user--icon .icon {
    width: 100px;
    height: 100px;
  }
  .sidebar--container .sidebar .user--icon h5 {
    font-size: 20px;
  }
  .sidebar--container .sidebar .bottom--section {
    gap: 450px;
  }
  .sidebar--container .sidebar .bottom--section div {
    gap: 30px;
  }
  .sidebar--container .sidebar .bottom--section div .link {
    height: 75px;
  }
  .sidebar--container .sidebar .bottom--section div .link .text--link {
    flex: 40%;
  }
}
@media (min-width: 815px) and (max-width: 825px) {
  .sidebar--container .sidebar {
    gap: 30px;
  }
  .sidebar--container .sidebar .top--section {
    gap: 155px;
  }
  .sidebar--container .sidebar .user--icon .icon {
    width: 100px;
    height: 100px;
  }
  .sidebar--container .sidebar .user--icon h5 {
    font-size: 20px;
  }
  .sidebar--container .sidebar .bottom--section {
    gap: 350px;
  }
  .sidebar--container .sidebar .bottom--section div {
    gap: 30px;
  }
  .sidebar--container .sidebar .bottom--section div .link {
    height: 75px;
  }
  .sidebar--container .sidebar .bottom--section div .link .text--link {
    flex: 40%;
  }
}
@media (min-width: 760px) and (max-width: 800px) {
  .sidebar--container .sidebar {
    gap: 30px;
  }
  .sidebar--container .sidebar .top--section {
    gap: 155px;
  }
  .sidebar--container .sidebar .user--icon .icon {
    width: 100px;
    height: 100px;
  }
  .sidebar--container .sidebar .user--icon h5 {
    font-size: 20px;
  }
  .sidebar--container .sidebar .bottom--section {
    gap: 210px;
  }
  .sidebar--container .sidebar .bottom--section div {
    gap: 30px;
  }
  .sidebar--container .sidebar .bottom--section div .link {
    height: 75px;
  }
  .sidebar--container .sidebar .bottom--section div .link .text--link {
    flex: 40%;
  }
}
@media (max-width: 480px) {
  .sidebar--container .sidebar {
    gap: 10px;
  }
  .sidebar--container .sidebar .bottom--section {
    gap: 320px;
  }
}
@media (min-width: 370px) and (max-width: 380px) {
  .sidebar--container .sidebar {
    gap: 10px;
  }
  .sidebar--container .sidebar .top--section {
    gap: 60px;
  }
  .sidebar--container .sidebar .bottom--section {
    gap: 120px;
  }
}
@media (max-width: 365px) {
  .sidebar--container .sidebar .top--section {
    gap: 60px;
  }
  .sidebar--container .sidebar .bottom--section {
    gap: 170px;
  }
}
@media (max-width: 290px) {
  .sidebar--container .sidebar .bottom--section {
    gap: 100px;
  }
}
@media (min-width: 1020px) and (max-width: 1030px) {
  .sidebar--container .sidebar .bottom--section {
    gap: 75px;
  }
}/*# sourceMappingURL=Sidebar.css.map */