.sidebar--container{
    display: flex;
    position: relative;
    top: 10px;
    .sidebar{
        background-color: #7200CC;
        color: white;
        height: 100vh;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: all 0.2s;
        position: absolute;
        border-radius: 0px 10px 0px 0px;
        .top--section{
            display: flex;
            gap: 70px;
            padding: 20px 15px;
            .logo{
                display: flex;
                align-items: center;
                color: #E9ECEF;
                h4{
                    margin: 0;
                }
            }
            .bars:hover{
                cursor: pointer;
            }
        }
        .user--icon{
            text-align: center;
            margin-top: 20px;
            .icon{
                border: 2px solid white;
                border-radius: 50%;
            }
            h5{
                padding: 10px;
                font-size: 15px;
                opacity: 0.8;
            }
        }
        .bottom--section{
            display: flex;
            flex-direction: column;
            gap: 150px;
            width: 100%;
            margin-top: 30px;

            div{
                display: grid;
                align-items: center;
                gap: 10px;
                width: 100%;
                .link{
                    width: 97%;
                    display: flex;
                    text-decoration: none;
                    padding: 10px 15px;
                    color: white;
                    
                    &:hover{
                        background-color: #EFEFEF;
                        color: #7200CC;
                        border-radius: 0px 15px 0px 0px;
                        transition: all 0.5s;
                    }
                    .icon{
                        flex: 30%;
                        place-items: center;
                    }
                    .text--link{
                        flex: 70%;
                    }
                }
                .active{
                    background-color: white;
                    color: #7200CC;
                    font-weight: 500;
                    border-radius: 0px 15px 0px 0px;
                    transition: all 0.5s;
                }
            }
                .logout--btn{
                    width: 80%;
                    margin: 0 auto;
                    padding: 3px;
                    border: 0;
                    border-radius: 5px;
                    color: #7200CC;
                    font-weight: 600;
                    background-color: white;
    
                    &:hover{
                        background-color: #AB66E1;
                        color: white;
                        transition: all 0.5s;
                    }   
                }
                .logout--icon{
                    position: absolute;
                    bottom: 70px;
                    left: 35%;

                    &:hover{
                        cursor: pointer;
                        color: #c698e9;
                        transition: all 0.5s;
                    }
                }
        }
    }
}
