.form--wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.login--form{
    width: 400px;
    height: 350px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: relative;
}

.field{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;  
    border: none;
    border-bottom: 1px solid white;
    gap: 4px;
    position: relative;
}

.input--field{
    border: none;
    /* height: 20px; */
    width: 100%;
    background: transparent;
    color: white;
}
::placeholder{
    color: white;
}

.input--field:focus{
    outline: none;
}
.form--button{
    border-radius: 8px;
    width: 80%;
    /* height: 25px; */
    border: none;
    font-weight: 700;
    color: grey;
}
.form--button:hover{
    background-color: rgba(0, 0, 0);
    color: white;
}
.show--password{
    position: absolute;
    right: 0;
}
.account--password{
    color: white;
    margin-bottom: 0;
    text-decoration: none;
}
.links{
    display: flex;
    gap: 70px;
}