.reset--container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left--reset{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 130px;
}
.reset--responsive{
    display: none;
}
.reset--textfield > p{
    margin: 0;
    color: #818C99;
}
.right--reset{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.reset--fields{
    display: flex;
    justify-content: center;
}
.reset--inputfield{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reset--field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.reset{
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.reset--field > input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.reset--field > label{
    font-weight: 500;
}
.reset--img{
    width: 480px;
}
.reset--img > img{
    width: 100%;
}
.reset--btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #7200CC;
    font-weight: 600;
    color: white;
    margin-top: 10px;

    &:hover{
        background-color: #AB66E1;
        transition: all 0.5s;
    }
}
.show--eye{
    position: absolute;
    top: 40px;
    right: 5px;
    color: #818C99;
}

@media (max-width: 920px) {
    .left--reset{
        width: 100%;
        gap: 30px;
    }
    .reset--responsive{
        display: inline-block;
        width: 100%;
    }
    .reset--responsive > img{
        width: 100%;
        height: 750px;
    }
    .right--reset{
        display: none;
    }
    .reset--fields{
        flex-direction: column;
        gap: 30px;
    }
    .reset{
        width: 80%;
        align-self: center;
    }
}

@media (max-width: 780px) {
    .reset--responsive > img{
        height: 584px;
    }
}

@media (max-width: 560px) {
    .reset--responsive > img{
        height: 400px;
    }
    .reset{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .reset--responsive > img{
        height: 340px;
    }
}

@media (max-width: 376px) {
    .reset--responsive > img{
        height: 270px;
    }
}

@media (max-width: 290px) {
    .reset--responsive > img{
        height: 220px;
    }
    .reset{
        font-size: 12px;
        height: 300px;
    }
    .left--reset{
        padding: 10px;
    }
    .show--eye{
        top: 33px;
    }
}

@media (min-width: 1020px) and (max-width: 1030px){
    .left--reset{
        gap: 70px;
    }
}