.reset--container1{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left--reset1{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 145px;
}
.reset--textfield1 > p{
    margin: 0;
    color: #818C99;
}
.right--reset1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.reset--fields1{
    display: flex;
    justify-content: center;
}
.reset--inputfield1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reset--field1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reset1{
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.reset--field1 > input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.reset--field1 > label{
    font-weight: 500;
}
.reset--img1{
    width: 480px;
}
.reset--img1 > img{
    width: 100%;
}
.reset--btn1{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #7200CC;
    font-weight: 600;
    color: white;
    margin-top: 10px;

    &:hover{
        background-color: #AB66E1;
        transition: all 0.5s;
    }
}
.back--link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
}
.back--link > a{
    text-decoration: none;

    &:hover{
        color: #AB66E1;
        transition: all 0.5s;
    }
}
