.reset--container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url(./reset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 280px;
    gap: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #212529;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.reset > input{
    width: 90%;
    border-radius: 5px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    color: white;

    &:focus{
        border-color: #ff9800;
    }
}
::placeholder{
    color: white;
}
.reset > button{
    width: 90%;
    border-radius: 5px;
    border: none;
    font-weight: 600;

    &:hover{
        background-color: #ff9800;
        color: white;
        transition: all 0.5s;
    }

}
.reset > h2{
    margin-top: 0;
    color: white;
}
.password--visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    position: relative;
    padding-top: 5px;

    &:focus{
        border-color: #ff9800;
    }
}
.password--visible > input{
    width: 90%;
    border-radius: 5px;
    outline: none;
    border: 2px solid white;
    background: transparent;
    color: white;
}
.reset--eye{
    position: absolute;
    right: 25px;
    top: 12px;
}