.reset--container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url(./reset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    gap: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.reset > input{
    width: 90%;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: white;
}
::placeholder{
    color: white;
}
.reset > button{
    width: 90%;
    border-radius: 5px;
    border: none;

}
.reset > h2{
    margin-top: 0;
    color: white;
}
.password--visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    position: relative;
}
.password--visible > input{
    width: 90%;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: white;
}
.reset--eye{
    position: absolute;
    right: 25px;
    top: 7px;
}