.profile--container{
    width: 100%;
   .profile--content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    .profile--fields{
        display: flex;
        gap: 50px;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid #F4F4F6;
        label{
            width: 50%;
            font-weight: 500;
        }
        input{
            width: 50%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid grey;
        }
    }
   }
   .profile--btn{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    margin-right: 20px ;
    button{
        border: none;
        padding: 5px;
        width: 20%;
        background-color: #7200CC;
        color: white;
        font-weight: 600;
        border-radius: 10px;

        &:hover{
            background-color: #AB66E1;
            transition: all 0.5;
        }
    }
  }
}