.profile--artisan-container{
    width: 100%;
    .profile--artisan{
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 56px 20px 72px;
        border-bottom: 1px solid #ff9800;
        .artisan--pic{
            border-radius: 50%;
        }
    }
}