.artisanProfile--container {
  width: 100%;
}
.artisanProfile--container .artisanProfile--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}
.artisanProfile--container .artisanProfile--content .artisanProfile--fields {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #F4F4F6;
  justify-content: center;
}
.artisanProfile--container .artisanProfile--content .artisanProfile--fields label {
  width: 30%;
  font-weight: 500;
}
.artisanProfile--container .artisanProfile--content .artisanProfile--fields input {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}
.artisanProfile--container .artisanProfile--content .artisanProfile--fields textarea {
  width: 50%;
  border-radius: 5px;
}
.artisanProfile--container .artisanProfile--btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 20px;
}
.artisanProfile--container .artisanProfile--btn button {
  border: none;
  padding: 5px;
  width: 20%;
  background-color: #7200CC;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
.artisanProfile--container .artisanProfile--btn button:hover {
  background-color: #AB66E1;
  transition: all 0.5;
}

@media (max-width: 920px) {
  .artisanProfile--container .artisanProfile--content {
    margin-top: 50px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields label {
    width: 30%;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields input {
    width: 70%;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields textarea {
    width: 70%;
  }
  .artisanProfile--container .artisanProfile--btn button {
    width: 30%;
  }
}
@media (max-width: 560px) {
  .artisanProfile--container .artisanProfile--content {
    margin-top: 20px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields {
    padding-bottom: 25px;
    gap: 0;
  }
  .artisanProfile--container .artisanProfile--btn button {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields input {
    padding: 3px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields textarea {
    height: 50px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields .artisanFile--input {
    font-size: 14px;
  }
  .artisanProfile--container .artisanProfile--btn button {
    width: 50%;
  }
}
@media (max-width: 380px) {
  .artisanProfile--container .artisanProfile--content {
    margin-top: 15px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields {
    gap: 5px;
    padding-bottom: 20px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields input {
    padding: 2px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields label {
    width: 35%;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields textarea {
    height: 45px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields .artisanFile--input {
    font-size: small;
  }
  .artisanProfile--container .artisanProfile--btn button {
    width: 55%;
    font-size: 15px;
  }
}
@media (max-width: 290px) {
  .artisanProfile--container {
    font-size: 12px;
  }
  .artisanProfile--container .artisanProfile--content {
    padding: 5px;
    margin-top: 15px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields {
    gap: 5px;
    padding-bottom: 10px;
  }
  .artisanProfile--container .artisanProfile--content .artisanProfile--fields input {
    padding: 0;
  }
  .artisanProfile--container .artisanProfile--btn {
    margin-right: 5px;
  }
  .artisanProfile--container .artisanProfile--btn button {
    width: 45%;
    font-size: 12px;
  }
}/*# sourceMappingURL=EditArtisanProfile.css.map */