.payment--container {
  width: 100%;
  height: 100vh;
}
.payment--container .payment--text {
  text-align: center;
  margin-top: 20px;
}
.payment--container .payment--text p {
  margin-bottom: 0;
}
.payment--container .checkout {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.payment--container .checkout .checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #212529;
}
.payment--container .checkout .checkout-form .checkout-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.payment--container .checkout .checkout-form .checkout-field input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
.payment--container .checkout .checkout-form .checkout-field label {
  font-weight: 500;
}
.payment--container .checkout .checkout-form .payment--btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #7200CC;
  color: white;
  font-weight: 600;
}
.payment--container .checkout .checkout-form .payment--btn:hover {
  background-color: #AB66E1;
  transition: all 0.5;
}

@media (max-width: 920px) {
  .payment--container .payment--text {
    margin-top: 40px;
  }
  .payment--container .checkout .checkout-form {
    gap: 25px;
    width: 90%;
    height: 470px;
  }
}
@media (max-width: 560px) {
  .payment--container .payment--text {
    margin-top: 20px;
  }
  .payment--container .payment--text h4 {
    font-size: 17.5px;
  }
  .payment--container .checkout {
    margin-top: 25px;
  }
  .payment--container .checkout .checkout-form {
    padding: 15px;
    height: 450px;
  }
}
@media (max-width: 480px) {
  .payment--container .payment--text h4 {
    font-size: 15px;
  }
  .payment--container .checkout {
    margin-top: 15px;
  }
  .payment--container .checkout .checkout-form {
    gap: 20px;
    width: 100%;
    box-shadow: none;
  }
}
@media (max-width: 380px) {
  .payment--container .payment--text {
    margin-top: 10px;
  }
  .payment--container .checkout {
    margin-top: 5px;
  }
  .payment--container .checkout .checkout-form {
    padding: 10px;
    gap: 15px;
  }
  .payment--container .checkout .checkout-form .checkout-field input {
    padding: 3px;
  }
  .payment--container .checkout .checkout-form .payment--btn {
    padding: 7px;
    font-size: 15px;
  }
}
@media (max-width: 365px) {
  .payment--container .payment--text h4 {
    font-size: 16px;
  }
}
@media (max-width: 290px) {
  .payment--container .payment--text h4 {
    font-size: 13px;
  }
  .payment--container .checkout {
    margin-top: 5px;
  }
  .payment--container .checkout .checkout-form {
    padding: 10px;
    gap: 10px;
  }
  .payment--container .checkout .checkout-form .checkout-field {
    font-size: 13px;
  }
  .payment--container .checkout .checkout-form .checkout-field input {
    padding: 2px;
  }
  .payment--container .checkout .checkout-form .payment--btn {
    padding: 5px;
    font-size: 13px;
  }
}
@media (min-width: 1020px) and (max-width: 1030px) {
  .payment--container .checkout {
    margin-top: 25px;
  }
  .payment--container .checkout .checkout-form {
    height: 430px;
  }
}/*# sourceMappingURL=Payment.css.map */