.form--container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.form--container .userAccount--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px;
}
.form--container .userAccount--left .userLeft--container {
  display: flex;
  justify-content: center;
}
.form--container .userAccount--left .userLeft--container .userAccount--form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: 520px;
}
.form--container .userAccount--left .userLeft--container .userAccount--form .userCreate--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form--container .userAccount--left .userLeft--container .userAccount--form .userCreate--container .userCreate--field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form--container .userAccount--left .userLeft--container .userAccount--form .userCreate--container .userCreate--field label {
  font-weight: 500;
}
.form--container .userAccount--left .userLeft--container .userAccount--form .userCreate--container .userCreate--field input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
.form--container .userAccount--left .userLeft--container .userAccount--form .userCreate--btn button {
  width: 100%;
  padding: 10px;
  margin-top: 35px;
  border: none;
  border-radius: 10px;
  background-color: #7200CC;
  color: white;
  font-weight: 600;
}
.form--container .userAccount--left .userLeft--container .userAccount--form .userCreate--btn button:hover {
  background-color: blue;
  transition: all 0.5s;
}
.form--container .userAccount--right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.form--container .userAccount--right .userAccount--pic {
  width: 480px;
}
.form--container .userAccount--right .userAccount--pic img {
  width: 100%;
}

.artisanForm--container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.artisanForm--container .artisanAccount--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container {
  display: flex;
  justify-content: center;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  height: 610px;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--container .artisanCreate--field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--container .artisanCreate--field .file--input {
  padding: 1px;
  border-radius: 5px;
  border: 1px solid gray;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--container .artisanCreate--field label {
  font-weight: 500;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--container .artisanCreate--field input {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--container .artisanCreate--field select {
  padding: 3.2px;
  border-radius: 5px;
  border: 1px solid gray;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--btn button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #7200CC;
  color: white;
  font-weight: 600;
}
.artisanForm--container .artisanAccount--left .artisanLeft--container .artisanAccount--form .artisanCreate--btn button:hover {
  background-color: blue;
  transition: all 0.5s;
}
.artisanForm--container .artisanAccount--right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
}
.artisanForm--container .artisanAccount--right .artisanAccount--pic {
  width: 480px;
}
.artisanForm--container .artisanAccount--right .artisanAccount--pic img {
  width: 100%;
}/*# sourceMappingURL=Registration.css.map */