body{
    overflow: hidden;
}
.nav--container{
    width: 100vw;
    height: 10vh;
    .nav--items{
        display: flex;
        align-items: center;
        .nav--brand{
            display: flex;
            align-items: center;
            gap: 2px;
        }
        .nav--text{
            color: white;
        }
    }
}
.bg--image{
    background-image: url(./homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap:10px;
        overflow: hidden;
        h1{
            font-size: 60px;
            margin: 0;
        }
        h3{
            margin-top: 30px;
        }
        .button{
            width: 15%;
            padding: 10px;
            border: none;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border-radius: 15px;
            font-size: large;
            font-weight: 700;
        }
        .button:hover{
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}