.landing--container{
    width: 100vw;
    height:100vh;
    display: flex;
    .landing--leftside{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 45px;
        background-color: #F9F9F9;
        padding: 20px;
        .image{
            display: flex;
            justify-content: center;
            img{
                width: 600px;
            }
        }
        .text--content{
            text-align: center;
            color: #5E5873;
        }
    }
    .landing--rightside{
        width: 40%;
        background-color: #FFFFFF;
        color: #5E5873;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .right--content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            .landingright--btn{
                width: 80%;
                border: none;
                border-radius: 5px;
                background-color: #7200CC;
                color: white;
                font-weight: 600;
                padding: 10px;
    
                &:hover{
                    background-color: #AB66E1;
                    transition: all 0.5s;
                }
            }
        }
    }
}
@media (max-width: 920px){
    .landing--container{
        flex-direction: column;
        gap: 100px;
        background-color: #F9F9F9;
        .landing--leftside{
            width: 100%;
            gap: 80px;
            .image{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .landing--rightside{
            width: 100%;
           padding: 20px;
           background-color: #F9F9F9;
            .right--content{
                width: 100%;
                .right--text{
                        display: none;
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .landing--container{
        gap: 0;
        .landing--leftside{
            gap: 30px;
        }
    }
}

@media (max-width: 480px) {
    .landing--container{
        gap: 150px;
        .landing--leftside{
            gap: 65px;
            .text--content{
                h3{
                    font-size: larger;
                }
                 p{
                    font-size: 12.6px;
                }
            }
        }
    }
}

@media (max-width: 376px) {
    .landing--container{
        gap: 60px;
        .landing--leftside{
            gap: 45px;
            .text--content{
                h3{
                    font-size: larger;
                }
                 p{
                    font-size: 12.6px;
                }
            }
        }
    }
}

@media (max-width: 290px) {
    .landing--container{
        .landing--leftside{
            padding: 10px;
            .text--content{
                h3{
                    font-size: medium;
                }
                 p{
                    font-size: 10px;
                }
            }
        }
        .landing--rightside{
            padding: 10px;
            .right--content{
                .landingright--btn{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width: 1020px) and (max-width: 1030px){
    .landing--container{
        .landing--leftside{
            gap: 20px;
        }
    }
}